__pycache__/
*.pyc
venv/

static/uploads/*
!static/uploads/.gitkeep

static/gradcam/*
!static/gradcam/.gitkeep

.vscode/
*.log

gaussian_filtered_images/
retina_detector_dataset/
random_images/

*.npy
*.h5
*.pkl
train.xlsx